<!DOCTYPE html>
<html>
<head>
    <title>Estimate - Plan Poker</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../css/bootstrap.css" rel="stylesheet" />
    <link href="../css/style.css?v=5" rel="stylesheet" />
    <script src="../scripts/jquery-1.10.2.js?v=5"></script>
    <script src="../scripts/bootstrap.js?v=5"></script>
    <script src="../scripts/js.cookie.js?v=5"></script>
    <script src="../scripts/apiPath.js?v=5"></script>
    <script src="../scripts/common.js?v=5"></script>
    <script src="../scripts/projectEstimate.js?v=5"></script>
    
</head>
<body>
    <header>
        <nav class="navbar navbar-default">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="Dashboard.html">
                        <b>Plan Poker</b>
                    </a>
                </div>

                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Settings <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="Profile.html">My Profile</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a id="logout" href="Login.html">Logout</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h2 id="estimateProjectName" class="pull-left">Project name:</h2>
            </div>
            <div id="estimateShow" class="col-md-6 estimate-show hide">
                <button id="projectEstimateBtnShow" class="btn btn-success pull-right" data-toggle="modal" data-target="#newModal">Show</button>
            </div>
        </div>
        <div class="card-list">
            <div id="planpokerList" class="row">
            </div>
        </div>
        <div id="estimateResult" class="hide">
            <div class="row">
                <div class="col-md-6">
                    <h3>Plan average: <label id="average"></label> points</h3>
                </div>
                <div class="col-md-6 text-right footer-next">
                    <button id="nextBtn" class="btn btn-success btn-next hide">Next</button>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
